<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="{{@site.url}}" aria-label="Julia Novaes Psicologa">
      <img class="brand-logo brand-logo-header" src="{{asset "images/logo/logo-header.png"}}" alt="Julia Novaes Psicologa">
    </a>
    <nav class="site-nav" aria-label="Menu principal">
      <a href="/">Inicio</a>
      <a href="/sobre/">Sobre mim</a>
      <a href="/atendimentos/">Atendimentos</a>
      <a href="/tag/artigos/">Artigos</a>
      <a href="/contato/">Contato</a>
    </nav>
    <a class="button header-button" href="/contato/">Agendar consulta</a>
  </div>
</header>
